<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="cinematic" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Cinematic.Test;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>